@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Lexend+Deca:wght@100..900&display=swap');

.font-Baskervville{
    font-family: Baskervville;
}
.font-Lexend{
    font-family: Lexends Deca;
}

.swiper-button-disabled{

    color: #8b8a8a;
}
.swiper-button-prev,
.swiper-button-next{

    color: #805d93;
}
.swiper-pagination-bullet-active{
    background: #805d93;
}

body::-webkit-scrollbar{
    background-color: #18181b;
    width: 8px;
    /* border-radius: 20px; */
    /* border-radius: 4px; */
}
body::-webkit-scrollbar-thumb{
    background-color: #f97213;
    border-radius: 20px;
    /* border-radius: 4px; */
}

.scroll-bar::-webkit-scrollbar{
    background-color: #c4c2c2;
    width: 8px;
    border-radius: 4px;
}

.scroll-bar::-webkit-scrollbar-thumb{
    background-color: #f53434;
    border-radius: 4px;
}

.text-foreground-500 {
    color: #9ca3af ;
}


.section {
    display: flex;
    justify-content: center;
  }